body {
}

#topic, #main1, #main2, #main3 {
    max-width: 1600px;
    min-width: 800px;
    margin: 10px auto;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #00a1f1;
    text-align: center;
    background: #f0f0f0;
    font-size: 16pt;
    line-height: 50px;
}

#topic {
    margin-top: 0;
    border: none;
    background-color: transparent;
}

    #topic h1 {
        font-size: 28pt;
    }

#main1 span {
    display: inline-block;
    width: 200px;
    padding-right: 20px;
    text-align: right;
}

#main1 input {
    width: 200px;
    font-size: 16pt;
}

#main2 #main2_wrap {
    width: 800px;
    height: 600px;
    position: relative;
    display: inline-block;
}

    #main2 #main2_wrap canvas {
        width: 800px;
        height: 600px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: transparent;
    }

    #show_numbers {
        width: 800px;
        height: 600px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: aquamarine;
        z-index: 0;
    }

#main2 input {
    width: 200px;
    font-size: 16pt;
}

#main3 #show_results {
    height: 50px;
    display: inline-block;
}
