body {
}

#canvas {
    width: 1280px;
    height: 800px;
    background-color: lavenderblush;
    display: none;
}

#show_numbers {
    width: 1280px;
    height: 800px;
    background-color: azure;
}

#show_results {
    width: 1280px;
    height: 50px;
    background-color: #808080;
}
